# =============================
# Visual Studio / IDEs
# =============================
.vs/
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vsconfig
*.xcodeproj
*.xcworkspace
*.sln

# =============================
# Compiled Files / Binaries
# =============================
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipa

Binaries/*
Plugins/**/Binaries/*

# =============================
# Build / Intermediate
# =============================
Build/*
Plugins/**/Intermediate/*
Intermediate/*
DerivedDataCache/*
Saved/*

# =============================
# Unreal Asset Files (pesados)
# =============================
Content/*
!Content/Blueprints/**
!Content/Docs/**

*.umap
*.uasset

# Built data
*_BuiltData.uasset

# DDC / extra cache
*.udd
*.ubulk
*.ufont

# =============================
# Logs
# =============================
*.log
*.tlog
*.dat
*.pid
*.dump

# =============================
# Misc / OS
# =============================
SourceArt/**/*.png
SourceArt/**/*.tga
*.ico
*.dSYM/
